{% extends "base.html" %}

{% block title %}Log-in{% endblock %}

{% block content %}

    <h1>Log-in</h1>
    {% if form.errors %}
        <p>
            Tu usuario y contraseña no coinciden.
            Intentalo de nuevo.
        </p>
    {% else %}
        <p>Por favor, usa el siguiente formulario para loguearte </p>
    {% endif %}
    <div class="login-form">
        <form action="{% url 'login' %}" method="post">
            {{ form.as_p }}
            {% csrf_token %}
            <input type="hidden" name="siguiente" value="{{ next }}" />
            <p><input class="content container d-flex justify-content-center align-items-center" type="submit" value="Iniciar sesión"></p>
        </form>
    </div>
{% endblock %}